body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}


p {
	font-family: 'Oswald', sans-serif;
}
.navbar-brand

 img {width:150px}


#footer {background-color:blue;color:#fff}

#lowerfooter {background-color:black;}

#lowerfooter i {font-size:40px;color:yellow;margin:16px}

p (color:yellow;}

