body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}


p {
	font-family: 'Oswald', sans-serif;
	
}
.navbar-brand

 img {width:150px}


#footer {background-color:blue;color:#faff00}

#lowerfooter {background-color:black;}

#lowerfooter i {font-size:40px;color:yellow;margin:16px}

h5 {font-size:30px;color:#FAFF00}

h6 {font-size:30px;color:#FAFF00}

















































+


